if status is-interactive
  alias digs "dig +short"
  alias less "less -I"
  alias ...  "cd ../../"
  alias src  "cd ~/src"
  alias epoch "date +%s"
  alias t "tmux new -A -s base"
  {{ if eq .chezmoi.osRelease.id "debian" }}alias fd "fdfind" {{- end }}
  {{- if eq .chezmoi.hostname "carbon" "air" }}
  # BEGIN work alias
  alias hm "cd ~/src/hm"
  alias fmvars "cd ~/src/hm/conf/fmvars"
  alias box "ssh box"
  alias fm "ssh vpn1"
  alias notes "cd ~/notes/"
  alias chef "cd ~/src/triton/"
  alias wiki "cd ~/wiki"
  alias labpaste "nopaste -s GitLab -d"
  alias rge="rg -i -g '!htdocs' -g '!localisation'"
  # END work specific aliases
  {{- end }}

  {{- if stat "/etc/inaboxinfo/" }}
  # BEGIN fminabox alias and abbreviations
  alias hm "cd /home/mod_perl/hm"
  alias fmvars "cd /home/mod_perl/hm/conf/fmvars"
  # END fminabox alias and abbreviations
  {{- end }}

  {{- if lookPath "docker-compose" }}
  abbr --add dc "docker-compose"
  abbr --add pullup "docker-compose pull; docker-compose up -d"
  {{- end }}

  {{- if (and (lookPath "uvx") (lookPath "uv") )}}
  # uv/uvx can run python stuff ad-hoc.  Use it if the thing doesn't already exist
  {{ if not (lookPath "python")  }}abbr --add python "uv run python"{{- end }}
  {{ if not (lookPath "ansible") }}abbr --add ansible "uvx --from ansible-core ansible"{{- end }}
  {{ if not (lookPath "yt-dlp")  }}abbr --add yt-dlp "uvx yt-dlp"{{- end }}
  {{- end }}
  abbr --add diffy "diff -ubBN"
  {{- if lookPath "journalctl" }}
  abbr --add flog "journalctl -a -f -u"
  abbr --add llog "journalctl -a -e -u"
  {{- end }}
  abbr --add chezgit "cd $HOME/.local/share/chezmoi"
  abbr --add dotconfig "cd $HOME/.local/share/chezmoi"
  abbr --add dotfiles "cd $HOME/.local/share/chezmoi"


  {{- if (and (eq .chezmoi.os "darwin") (stat "/opt/homebrew"))}}
  _prepend_path /opt/homebrew/bin
  _prepend_path /opt/homebrew/sbin
  {{- end }}

  {{- if stat "/opt/cinc/bin" }}
  # chef/cinc
  # omni-installer instructions => https://cinc.sh/start/client/
  _prepend_path /opt/cinc/bin
  {{ end }}

  {{- if stat (joinPath .chezmoi.homeDir ".plenv") }}
  # perl
  _prepend_path $HOME/.plenv/bin
  _prepend_path $HOME/.plenv/shims

  {{ end }}

  {{- if stat (joinPath .chezmoi.homeDir ".rbenv") }}
  # ruby
  _prepend_path $HOME/.rbenv/bin
  _prepend_path $HOME/.rbenv/shims
  {{ end }}
  
  {{- if stat (joinPath .chezmoi.homeDir ".local/go/bin") }}
  # go
  _prepend_path $HOME/.local/go/bin
  {{ end }}

  {{- if stat (joinPath .chezmoi.homeDir ".cargo/bin") }}
  # rust
  _prepend_path $HOME/.cargo/bin
  {{ end }}

  {{- if stat (joinPath .chezmoi.homeDir ".pyenv") }}
  # python
  _prepend_path $HOME/.pyenv/bin
  _prepend_path $HOME/.pyenv/shims
  {{ end }}

  {{- if stat (joinPath .chezmoi.homeDir ".opam/default/bin") }}
  # ocaml
  _prepend_path $HOME/.opam/default/bin
  {{ end }}

  {{- if stat (joinPath .chezmoi.homeDir ".local/bin") }}
  _prepend_path $HOME/.local/bin
  {{ end }}

  {{- if stat (joinPath .chezmoi.homeDir ".secrets/ansible_vault_pw") }}
  # ansible vault password location
  set -x ANSIBLE_VAULT_PASSWORD_FILE "$HOME/.secrets/ansible_vault_pw"
  {{ end }}

  set -x RIPGREP_CONFIG_PATH "$HOME/.ripgrep"
  {{ if lookPath "vim"}}set -x EDITOR {{ lookPath "vim"}}{{- end }}


 {{- if eq .chezmoi.hostname "carbon" "air" "xenon" "arch-xps" }}
  # keychain checks $SHELL for what it outputs when using --eval
  set -x SHELL '{{ lookPath "fish" }}'
  keychain --quiet --ignore-missing --eval id_rsa id_ed25519 | source
  set -e SHELL
{{- end }}

  {{- if eq .chezmoi.os "darwin"}}
  # See native MacOS Secure Enclave backed ssh keys, see https://gist.github.com/arianvp/5f59f1783e3eaf1a2d4cd8e952bb4acfkey 
  # check if key is known to ssh agent, if it's not trigger it to load
  if perl -E '(grep { $_ =~ /^sk-ecdsa-sha2-nistp256/ } `ssh-add -L`) ? exit 1 : exit 0;';
    echo "~~~ Loading ssh key from secure enclave.  Please touch the finger print reader then hit enter ⏎ ~~~"
    ssh-add -K -S /usr/lib/ssh-keychain.dylib
  end
  {{- end }}
end

set fish_greeting

function git-me
  set -g -x GIT_COMMITTER_EMAIL adavis@adavis.net
  set -g -x GIT_AUTHOR_EMAIL adavis@adavis.net
end

