set -g default-terminal "screen-256color"

set -g history-limit 200000

{{- if eq .chezmoi.hostname "neon" }}
set -g status-bg "#ff5f5f" 
{{- else if eq .chezmoi.hostname "carbon" "Desktop-Win10" "arch-xps" }}
set -g status-bg magenta
{{- end }}
{{- if stat "/etc/inaboxinfo/" }}
{{- else }}
{{- /* Can't assume /usr/bin/fish because FreeBSD has it in /usr/local/bin/fish */}}
set-option -g default-shell {{ lookPath "fish" }}
{{ end }}
