set -g default-terminal "tmux-256color"

set -g history-limit 200000

{{- if eq .chezmoi.hostname "neon" }}
set -g status-bg "#ff5f5f" 
{{- else if eq .chezmoi.hostname "carbon" "air" "xenon" "arch-xps" }}
set -g status-bg magenta
{{- end }}
{{- if stat "/etc/inaboxinfo/" }}
{{- else }}
{{- /* Can't assume /usr/bin/fish because FreeBSD has it in /usr/local/bin/fish */}}
set-option -g default-shell {{ lookPath "fish" }}
{{- if eq .chezmoi.os "darwin" }}
# On login shells MacOS /etc/profile runs a thing calls path_helper which prepends all the system paths to my $PATH even if they're already present 
# As a result, if i'm already in fish and start tmux then the system paths end up before all my prepend path config
set-option -g default-command {{ lookPath "fish" }}
{{- end }}
{{ end }}

# stop weird characters on attach
# https://www.reddit.com/r/tmux/comments/1l7n9k9/what_are_these_strange_characters/
set -g escape-time 500


