{{ if lookPath "fzf" }}
# if fzf is installed the keybindings should have been added here:
# /usr/share/fish/vendor_functions.d/fzf_key_bindings.fish
# Fish should automatically source them from there

{{- /* Newer versions of fzf aren't packaging completions in files and instead expect you to invoke fzf --$SHELL 
	   FreeBSD ports have moved to not package the files so for now just detect that
*/}}
{{- if eq .chezmoi.os "freebsd" "darwin"}}
# Except on freebsd where it's not in the right place to get sourced automatically
fzf --fish | source
{{- end }}

# This function just activates them
function fish_user_key_bindings
	fzf_key_bindings
end
{{else}}
# This file is blank because fzf is not in the path
# Install it, then chezmoi diff/apply
{{- end }}
