{{ if lookPath "fzf" }}

{{- /* Newer versions of fzf don't ship key binding files and instead use `fzf --fish`.
	   Work still on Debian bookworm which doesn't support --fish so we'll just get it from files.
*/}}
{{- if not (stat "/usr/share/fish/vendor_functions.d/fzf_key_bindings.fish") }}
fzf --fish | source
{{- end }}

# This function just activates them
function fish_user_key_bindings
	fzf_key_bindings
end
{{else}}
# This file is blank because fzf is not in the path
# Install it, then chezmoi diff/apply
{{- end }}
